<div class="ui footer green segment">
    <div class="ui fluid grid footermenu">
        <div class="two wide column">
            <a class="item" href=" http://github.com/guillaumemaiano">
                <div class="github-button">
                    <i class="fab fa-github"></i>
                    Github
                </div>
            </a>
        </div>
        <div class="two wide column">
            <a class="item active" data-tab="home">
                <div class="button-primary">
                    <i class="fas fa-gem"></i>
                    Home
                </div>
            </a>
        </div>
        <div class="two wide column">
            <a class="item" data-tab="list">
                <div class="button-primary">
                    <i class="fas fa-list-ul"></i>
                    List
                </div>
            </a>
        </div>
    </div>
</div>