<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ " assets/apple-touch-icon.png" | absURL}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ " assets/favicon-32x32.png" | absURL}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ " assets/favicon-16x16.png" | absURL}}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ " assets/gem.icns" | absURL}}">
<link rel="manifest" href="{{ " assets/site.webmanifest" | absURL}}">
<!-- CSS  -->
<!-- Semantic UI first, so that it gets tuned by the rest -->
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>
<link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700@display=swap' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700@display=swap' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css' rel=' stylesheet'>
<link rel="stylesheet" href="{{ " base.css" | absURL }}">