    <!-- Scripts and stuff -->
    <!-- I'll probably need JQuery... -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- I'm not sure I really need SemanticUI's JS. This might be removed later. -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js'></script>
    <!-- Highlighting is a major component of readability in tech blogs -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => { hljs.highlightAll(); });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => { $('.menu .item').tab(); });
    </script>